#textoPrincipal{/**id é um identificador unico dentro de um arquivo no css é identificado por #*/
    font-size: 40px;
    font-weight: bold;
    color:#fff;
    padding: 10px;
    background-color: #444;
}